<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Hello, Potenial employer</h1>
   <p>This is a <strong> BAACKEND</strong> project, that uses authentication to allow users to create an account and login</p>
    <p>The project therefore have no css as the aim was to demonstrate the use of MongoDB and how to connect it to a HTML code</p>
   <a href="/login">Login</a>
</body>
</html>