<h2>Signup Page</h2>
    <form action="/signup" method="post">
        <input type="text" name="fullName" placeholder="Enter your Full Name">
        <input type="email" name="email" placeholder="Enter your Email">
        <input type="password" name="password" placeholder="Enter your Password">
        <input type="password" name="ConfirmPassword" placeholder="Confirm your Password">
        <br><br>
        <input type="submit" value="Register">

    </form>
    <br><br>
   Already have an account? <a href="/login">Click here</a>